{
  "openapi": "3.1.0",
  "info": {
    "title": "BioMate Connector API",
    "description": "Run bioinformatics, drug-discovery, and clinical workflows on BioMate's BioMate cloud infrastructure. Search 2,455 indexed workflows, execute on real compute, stream live progress, and retrieve structured findings + reports. Schema is generated from backend/lib/mcp/tools_manifest.py.",
    "version": "2.0.0",
    "contact": {
      "name": "BioMate Support",
      "email": "support@biomate.ai",
      "url": "https://biomate.ai/support"
    },
    "x-privacy-policy": "https://biomate.ai/legal/privacy",
    "x-terms-of-service": "https://biomate.ai/legal/terms"
  },
  "servers": [
    {
      "url": "https://api.biomate.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/tools/biomate_session": {
      "post": {
        "operationId": "biomate_session",
        "summary": "**Primary entry point \u2014 use this for 90% of requests.",
        "description": "**Primary entry point \u2014 use this for 90% of requests.** Run a complete BioMate scientific session from a natural-language goal. BioMate selects the right workflow from 2,455 indexed pipelines, pre-fills parameters from your goal text, executes on BioMate cloud, handles QC gates with auto-loop remediation, and produces structured findings. While running, the tool streams real-time progress (phase started, step completed, QC gate, auto-loop remediation, finding) back to the host. Returns a final run summary, a deep link to the live results panel, and the report URL. \n\n**How to write the `goal` parameter** \u2014 plain English, one to three sentences:\n\u2022 Include the *what*: analysis type + subject (e.g. 'ADMET screening', 'RNA-seq DE', 'variant calling')\n\u2022 Include *data location*: inline SMILES/sequences, S3 paths, accession numbers, or upload first with upload_file\n\u2022 Include key *parameters* that matter: organism, library type, comparisons, thresholds\n\u2022 You can omit anything BioMate can infer (it will ask if genuinely ambiguous)\n\n**Good examples:**\n  'Screen aspirin (CC(=O)Oc1ccccc1C(=O)O) and caffeine (Cn1cnc2c1c(=O)n(c(=O)n2C)C) for hERG inhibition, CYP3A4, and oral bioavailability'\n  'RNA-seq differential expression on s3://lab-bucket/exp42/fastqs/ \u2014 human GRCh38, dUTP strand-specific, treated (n=3) vs control (n=3), FDR 0.05'\n  'Whole-genome variant calling on the uploaded FASTQ pair, GRCh38, GATK HaplotypeCaller, germline mode'\n  'Run homogeneous 3D refinement in CryoSPARC on s3://cryo/job042/, C2 symmetry, box size 256'\n  'Fetch GSE183947 from GEO and run the same RNA-seq pipeline'\n\nUse run_workflow instead when the user wants to call a specific workflow by ID with explicit parameter control.",
        "x-streaming": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "goal": {
                    "type": "string",
                    "description": "Natural-language scientific goal. Include: analysis type, data location (inline SMILES/sequences, s3:// paths, or GEO/SRA accession numbers), and key parameters (organism, comparisons, thresholds). BioMate infers the rest. Examples: 'Screen these 5 SMILES for hERG IC50 and CYP3A4 inhibition', 'RNA-seq DE on s3://bucket/exp1/ human GRCh38 paired-end treated vs control', 'Fetch GSE183947 and run differential expression'."
                  },
                  "inputs": {
                    "type": "object",
                    "description": "Optional structured inputs (S3 keys, sequences, SMILES, parameter overrides). BioMate merges these with what it extracts from `goal`. Example: {\"smiles_list\": [\"CC(=O)Oc1ccccc1C(=O)O\"], \"organism\": \"human\"}",
                    "additionalProperties": true
                  },
                  "experiment_id": {
                    "type": "string",
                    "description": "Optional experiment to attach this run to (from recall_memory)."
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "Emit progress notifications during execution. Default true. Set false for hosts without MCP notification support \u2014 then poll with get_run.",
                    "default": true
                  }
                },
                "required": [
                  "goal"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/search_workflow": {
      "post": {
        "operationId": "search_workflow",
        "summary": "Search the BioMate workflow catalog (2,455 indexed workflows across 34 domains) by natural language.",
        "description": "Search the BioMate workflow catalog (2,455 indexed workflows across 34 domains) by natural language. Returns ranked workflow cards with id, name, domain, one-line description, and estimated BioMate cloud cost. Use this when the user wants to pick a workflow explicitly; otherwise prefer biomate_session.",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Natural language description of the analysis."
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Max results (default 5, max 20).",
                    "default": 5
                  },
                  "domain": {
                    "type": "string",
                    "description": "Optional domain filter: transcriptomics, genomics, proteomics, drug_discovery, cryo_em, etc."
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/get_workflow_spec": {
      "post": {
        "operationId": "get_workflow_spec",
        "summary": "Return the full specification for a workflow: required + optional parameters (with types and allowed values), default QC profile and thresholds, expected input files, estimated cost and runtime, and any license requirements.",
        "description": "Return the full specification for a workflow: required + optional parameters (with types and allowed values), default QC profile and thresholds, expected input files, estimated cost and runtime, and any license requirements. Call this before run_workflow when the user wants explicit parameter control.",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workflow_id": {
                    "type": "string",
                    "description": "Workflow ID from search_workflow."
                  }
                },
                "required": [
                  "workflow_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/run_workflow": {
      "post": {
        "operationId": "run_workflow",
        "summary": "Execute a specific BioMate workflow on BioMate cloud with explicit parameters.",
        "description": "Execute a specific BioMate workflow on BioMate cloud with explicit parameters. Returns a run_id immediately. If stream=true, also emits progress notifications until the run terminates (same events as biomate_session). Use biomate_session instead when the user gave you a natural-language goal.",
        "x-streaming": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workflow_id": {
                    "type": "string",
                    "description": "Workflow ID from search_workflow."
                  },
                  "params": {
                    "type": "object",
                    "description": "Parameter dict. Required params come from get_workflow_spec.",
                    "additionalProperties": true
                  },
                  "experiment_id": {
                    "type": "string",
                    "description": "Optional experiment to attach to."
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "Emit progress notifications while running. Default false.",
                    "default": false
                  }
                },
                "required": [
                  "workflow_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/get_run": {
      "post": {
        "operationId": "get_run",
        "summary": "Return everything about a run in one call: status (pending|running|completed|failed), per-phase and per-step progress with timestamps, output files with download URLs, structured findings, QC gate results, and any auto-loop remediations applied.",
        "description": "Return everything about a run in one call: status (pending|running|completed|failed), per-phase and per-step progress with timestamps, output files with download URLs, structured findings, QC gate results, and any auto-loop remediations applied. Replaces get_run_status + get_run_results + step-level findings polling.",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "run_id": {
                    "type": "string",
                    "description": "Run ID."
                  },
                  "include_findings": {
                    "type": "boolean",
                    "description": "Include structured findings cards (default true).",
                    "default": true
                  }
                },
                "required": [
                  "run_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/cancel_run": {
      "post": {
        "operationId": "cancel_run",
        "summary": "Cancel a running or queued BioMate workflow on BioMate cloud.",
        "description": "Cancel a running or queued BioMate workflow on BioMate cloud.",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "run_id": {
                    "type": "string",
                    "description": "Run ID to cancel."
                  }
                },
                "required": [
                  "run_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/list_runs": {
      "post": {
        "operationId": "list_runs",
        "summary": "List the user's recent runs with status and timestamps.",
        "description": "List the user's recent runs with status and timestamps. Filter by status or experiment.",
        "x-streaming": false,
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "description": "Max runs to return (default 10).",
                    "default": 10
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "all",
                      "running",
                      "completed",
                      "failed",
                      "pending"
                    ],
                    "default": "all"
                  },
                  "experiment_id": {
                    "type": "string",
                    "description": "Optional experiment filter."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/preview_file": {
      "post": {
        "operationId": "preview_file",
        "summary": "Render a server-side preview of an output file (FASTA, VCF, CSV/TSV, image, PDF).",
        "description": "Render a server-side preview of an output file (FASTA, VCF, CSV/TSV, image, PDF). Returns markdown + optional thumbnail PNG. Use this to show the user what an output looks like without downloading multi-GB files. For input QC of files the user is about to upload, prefer biomate_session (it runs a real QC workflow).",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "s3_key": {
                    "type": "string",
                    "description": "The full s3_uri value (must start with 's3://') copied verbatim from a get_run output_files entry \u2014 e.g. 's3://bucket/path/file.json'. NOT a bare key; the s3:// prefix is required."
                  },
                  "run_id": {
                    "type": "string",
                    "description": "Optional run_id for context-aware parsing."
                  },
                  "max_rows": {
                    "type": "integer",
                    "description": "For tabular files (default 100).",
                    "default": 100
                  }
                },
                "required": [
                  "s3_key"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/export_report": {
      "post": {
        "operationId": "export_report",
        "summary": "Render a publication-ready report for a completed run as PDF or markdown.",
        "description": "Render a publication-ready report for a completed run as PDF or markdown. Includes the methods section, QC audit trail, structured findings, and figures. This is what users need for IND submissions, CRO compliance packages, and publication supplementary materials.",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "run_id": {
                    "type": "string",
                    "description": "Completed run ID."
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "pdf",
                      "markdown",
                      "docx"
                    ],
                    "default": "pdf"
                  },
                  "sections": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "methods",
                        "qc",
                        "findings",
                        "figures",
                        "appendix"
                      ]
                    },
                    "description": "Which sections to include (default: all)."
                  }
                },
                "required": [
                  "run_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/analyze_results": {
      "post": {
        "operationId": "analyze_results",
        "summary": "Ask BioMate's AI to interpret a completed run.",
        "description": "Ask BioMate's AI to interpret a completed run. Returns natural-language analysis: key findings, quality assessment, scientific interpretation, recommended next steps. Use after get_run when the user asks 'what does this mean?'.",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "run_id": {
                    "type": "string",
                    "description": "Completed run ID."
                  },
                  "question": {
                    "type": "string",
                    "description": "Optional focused question."
                  }
                },
                "required": [
                  "run_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/explain_error": {
      "post": {
        "operationId": "explain_error",
        "summary": "Diagnose a failed run.",
        "description": "Diagnose a failed run. Returns the likely root cause (genome mismatch, missing input, OOM, container pull failure, etc.) and the specific fix. Often the next step is run_workflow with corrected params.",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "run_id": {
                    "type": "string",
                    "description": "Failed run ID."
                  },
                  "error_log": {
                    "type": "string",
                    "description": "Optional pasted error log."
                  }
                },
                "required": [
                  "run_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/query_database": {
      "post": {
        "operationId": "query_database",
        "summary": "Query a biological/chemical database by accession or name.",
        "description": "Query a biological/chemical database by accession or name. Supported: uniprot, pdb, alphafold, ncbi_gene, dbsnp, clinvar, gnomad, kegg, reactome, chebi, chembl, hpo, string, pubmed.",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "database": {
                    "type": "string",
                    "enum": [
                      "uniprot",
                      "pdb",
                      "alphafold",
                      "ncbi_gene",
                      "dbsnp",
                      "clinvar",
                      "gnomad",
                      "kegg",
                      "reactome",
                      "chebi",
                      "chembl",
                      "hpo",
                      "string",
                      "pubmed"
                    ]
                  },
                  "query": {
                    "type": "string",
                    "description": "Accession, gene symbol, or compound name."
                  }
                },
                "required": [
                  "database",
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/resolve_accession": {
      "post": {
        "operationId": "resolve_accession",
        "summary": "Identify a public archive accession (GEO, SRA, ENA, DDBJ) and return the best BioMate workflow to fetch it plus pre-filled params ready for run_workflow.",
        "description": "Identify a public archive accession (GEO, SRA, ENA, DDBJ) and return the best BioMate workflow to fetch it plus pre-filled params ready for run_workflow. Examples: GSE183947 \u2192 Geo Data Connector; SRR12345 \u2192 nf-core/fetchngs. Call this before run_workflow whenever the user provides an accession instead of a file.",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accession": {
                    "type": "string",
                    "description": "Public archive accession: GSE*, GSM*, GDS*, SRR*, SRX*, SRP*, ERR*, ERX*, ERP*, DRR*, PRJNA*, PRJEB*, E-MTAB-*, E-GEOD-*"
                  }
                },
                "required": [
                  "accession"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/browse_data": {
      "post": {
        "operationId": "browse_data",
        "summary": "Browse a biological data repository or S3 workspace by listing files and directories at a given path.",
        "description": "Browse a biological data repository or S3 workspace by listing files and directories at a given path. Public sources (EBI, NCBI, Ensembl, UCSC) require a path. S3 sources (biomate_workspace, user_s3) accept an optional prefix. Use before fetch_public_data to navigate to the exact file you need.",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source_id": {
                    "type": "string",
                    "enum": [
                      "ebi_ftp",
                      "ncbi_ftp",
                      "ensembl_ftp",
                      "ucsc_downloads",
                      "http_public",
                      "biomate_workspace",
                      "user_s3"
                    ],
                    "description": "Data source to browse. biomate_workspace = BioMate's S3 work bucket; user_s3 = user's own S3 bucket (if configured)."
                  },
                  "path": {
                    "type": "string",
                    "description": "Directory path or S3 prefix to list (e.g. '/pub/databases/uniprot/' or 'results/run-xyz/')."
                  }
                },
                "required": [
                  "source_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/fetch_public_data": {
      "post": {
        "operationId": "fetch_public_data",
        "summary": "Download a file from a public biological repository (EBI, NCBI, Ensembl, UCSC) into BioMate's S3 workspace and return a presigned URL and S3 URI.",
        "description": "Download a file from a public biological repository (EBI, NCBI, Ensembl, UCSC) into BioMate's S3 workspace and return a presigned URL and S3 URI. Use the S3 URI as a workflow input parameter. Call browse_data first to find the exact path.",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "source_id": {
                    "type": "string",
                    "enum": [
                      "ebi_ftp",
                      "ncbi_ftp",
                      "ensembl_ftp",
                      "ucsc_downloads",
                      "http_public"
                    ],
                    "description": "Data source the file comes from."
                  },
                  "remote_path": {
                    "type": "string",
                    "description": "Path on the FTP server (e.g. '/pub/databases/uniprot/.../uniprot_sprot.fasta.gz')."
                  },
                  "url": {
                    "type": "string",
                    "description": "For http_public source: full HTTPS URL of the file to download."
                  }
                },
                "required": [
                  "source_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/recall_memory": {
      "post": {
        "operationId": "recall_memory",
        "summary": "Retrieve relevant prior context for the current goal: past runs on similar inputs, validated procedures, findings tagged by the user, learned parameter preferences.",
        "description": "Retrieve relevant prior context for the current goal: past runs on similar inputs, validated procedures, findings tagged by the user, learned parameter preferences. Call before biomate_session for repeat users \u2014 it dramatically improves param auto-fill and avoids re-running work.",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "What to recall \u2014 usually the user's goal."
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "runs",
                      "findings",
                      "procedures",
                      "all"
                    ],
                    "default": "all"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 5
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/upload_file": {
      "post": {
        "operationId": "upload_file",
        "summary": "Get a one-shot signed S3 PUT URL so the host can upload a local file directly to BioMate's data plane without proxying bytes through the chat transport.",
        "description": "Get a one-shot signed S3 PUT URL so the host can upload a local file directly to BioMate's data plane without proxying bytes through the chat transport. Returns the s3_key to use in subsequent tool calls. For files >5MB this is mandatory; for small text payloads, inline strings are fine.",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filename": {
                    "type": "string",
                    "description": "Original filename (sets content-type and extension)."
                  },
                  "size_bytes": {
                    "type": "integer",
                    "description": "File size for quota check."
                  },
                  "content_type": {
                    "type": "string",
                    "description": "MIME type (auto-detected from filename if omitted)."
                  }
                },
                "required": [
                  "filename"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ToolResult": {
        "type": "object",
        "description": "Common envelope returned by every tool. `content[].text` carries the structured JSON result (typed per tool). For streaming tools, the host should also subscribe to /events/{run_id} for live progress.",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "text",
                    "image"
                  ]
                },
                "text": {
                  "type": "string"
                }
              },
              "required": [
                "type"
              ]
            }
          },
          "isError": {
            "type": "boolean"
          },
          "run_id": {
            "type": "string"
          },
          "view_url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "content",
          "isError"
        ]
      }
    },
    "securitySchemes": {
      "BiomateOAuth": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://biomate.ai/oauth/authorize",
            "tokenUrl": "https://biomate.ai/oauth/token",
            "scopes": {
              "runs:read": "Read run status and outputs",
              "runs:write": "Launch and cancel runs",
              "workflows:search": "Search the workflow catalog",
              "memory:read": "Read prior experiment context",
              "memory:write": "Record findings and procedures",
              "billing:read": "Read usage and quota"
            }
          }
        }
      }
    }
  }
}
