{
  "openapi": "3.1.0",
  "info": {
    "title": "BioMate Connector API",
    "description": "Run bioinformatics, drug-discovery, and clinical workflows on BioMate's BioMate cloud infrastructure. Search 2,455 indexed workflows, execute on real compute, stream live progress, and retrieve structured findings + reports. Schema is generated from backend/lib/mcp/tools_manifest.py.",
    "version": "2.0.0",
    "contact": {
      "name": "BioMate Support",
      "email": "support@biomate.ai",
      "url": "https://biomate.ai/support"
    },
    "x-privacy-policy": "https://biomate.ai/legal/privacy",
    "x-terms-of-service": "https://biomate.ai/legal/terms"
  },
  "servers": [
    {
      "url": "https://api.biomate.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/tools/biomate_session": {
      "post": {
        "operationId": "biomate_session",
        "summary": "Run a complete BioMate scientific session from a natural-language goal.",
        "description": "Run a complete BioMate scientific session from a natural-language goal. BioMate picks the workflow, fills parameters from context, runs on BioMate cloud, handles QC gates with auto-loop remediation, and produces findings. While running, the tool streams progress events (phase started, step completed, QC gate fired, auto-loop remediation, finding) to the host so the user sees real-time updates the same way BioMate's web panel does. Returns the final run summary, a deep link to the live panel, and the report URL.",
        "x-streaming": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "goal": {
                    "type": "string",
                    "description": "Natural language description of what to do. Examples: 'screen these 12 SMILES for hERG and CYP3A4 liability', 'run RNA-seq pipeline on FASTQ files in s3://bucket/exp42/, human, paired-end', 'predict the structure of P04637 and the top 5 destabilizing mutations'."
                  },
                  "inputs": {
                    "type": "object",
                    "description": "Optional structured inputs (S3 keys, sequences, SMILES, parameter overrides). BioMate will merge these with whatever it extracts from `goal`.",
                    "additionalProperties": true
                  },
                  "experiment_id": {
                    "type": "string",
                    "description": "Optional experiment to attach this run to (from recall_memory or create_experiment)."
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "Emit progress notifications during execution. Default true. Set false for hosts without notification support (then poll get_run).",
                    "default": true
                  }
                },
                "required": [
                  "goal"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/search_workflow": {
      "post": {
        "operationId": "search_workflow",
        "summary": "Search the BioMate workflow catalog (2,455 indexed workflows across 34 domains) by natural language.",
        "description": "Search the BioMate workflow catalog (2,455 indexed workflows across 34 domains) by natural language. Returns ranked workflow cards with id, name, domain, one-line description, and estimated BioMate cloud cost. Use this when the user wants to pick a workflow explicitly; otherwise prefer biomate_session.",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Natural language description of the analysis."
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Max results (default 5, max 20).",
                    "default": 5
                  },
                  "domain": {
                    "type": "string",
                    "description": "Optional domain filter: transcriptomics, genomics, proteomics, drug_discovery, cryo_em, etc."
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/get_workflow_spec": {
      "post": {
        "operationId": "get_workflow_spec",
        "summary": "Return the full specification for a workflow: required + optional parameters (with types and allowed values), default QC profile and thresholds, expected input files, estimated cost and runtime, and any license requirements.",
        "description": "Return the full specification for a workflow: required + optional parameters (with types and allowed values), default QC profile and thresholds, expected input files, estimated cost and runtime, and any license requirements. Call this before run_workflow when the user wants explicit parameter control.",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workflow_id": {
                    "type": "string",
                    "description": "Workflow ID from search_workflow."
                  }
                },
                "required": [
                  "workflow_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/run_workflow": {
      "post": {
        "operationId": "run_workflow",
        "summary": "Execute a specific BioMate workflow on BioMate cloud with explicit parameters.",
        "description": "Execute a specific BioMate workflow on BioMate cloud with explicit parameters. Returns a run_id immediately. If stream=true, also emits progress notifications until the run terminates (same events as biomate_session). Use biomate_session instead when the user gave you a natural-language goal.",
        "x-streaming": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "workflow_id": {
                    "type": "string",
                    "description": "Workflow ID from search_workflow."
                  },
                  "params": {
                    "type": "object",
                    "description": "Parameter dict. Required params come from get_workflow_spec.",
                    "additionalProperties": true
                  },
                  "experiment_id": {
                    "type": "string",
                    "description": "Optional experiment to attach to."
                  },
                  "stream": {
                    "type": "boolean",
                    "description": "Emit progress notifications while running. Default false.",
                    "default": false
                  }
                },
                "required": [
                  "workflow_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/get_run": {
      "post": {
        "operationId": "get_run",
        "summary": "Return everything about a run in one call: status (pending|running|completed|failed), per-phase and per-step progress with timestamps, output files with download URLs, structured findings, QC gate results, and any auto-loop remediations applied.",
        "description": "Return everything about a run in one call: status (pending|running|completed|failed), per-phase and per-step progress with timestamps, output files with download URLs, structured findings, QC gate results, and any auto-loop remediations applied. Replaces get_run_status + get_run_results + step-level findings polling.",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "run_id": {
                    "type": "string",
                    "description": "Run ID."
                  },
                  "include_findings": {
                    "type": "boolean",
                    "description": "Include structured findings cards (default true).",
                    "default": true
                  }
                },
                "required": [
                  "run_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/cancel_run": {
      "post": {
        "operationId": "cancel_run",
        "summary": "Cancel a running or queued BioMate workflow on BioMate cloud.",
        "description": "Cancel a running or queued BioMate workflow on BioMate cloud.",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "run_id": {
                    "type": "string",
                    "description": "Run ID to cancel."
                  }
                },
                "required": [
                  "run_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/list_runs": {
      "post": {
        "operationId": "list_runs",
        "summary": "List the user's recent runs with status and timestamps.",
        "description": "List the user's recent runs with status and timestamps. Filter by status or experiment.",
        "x-streaming": false,
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "description": "Max runs to return (default 10).",
                    "default": 10
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "all",
                      "running",
                      "completed",
                      "failed",
                      "pending"
                    ],
                    "default": "all"
                  },
                  "experiment_id": {
                    "type": "string",
                    "description": "Optional experiment filter."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/preview_file": {
      "post": {
        "operationId": "preview_file",
        "summary": "Render a server-side preview of an output file (FASTA, VCF, CSV/TSV, image, PDF).",
        "description": "Render a server-side preview of an output file (FASTA, VCF, CSV/TSV, image, PDF). Returns markdown + optional thumbnail PNG. Use this to show the user what an output looks like without downloading multi-GB files. For input QC of files the user is about to upload, prefer biomate_session (it runs a real QC workflow).",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "s3_key": {
                    "type": "string",
                    "description": "S3 key (s3://bucket/path) from get_run output_files."
                  },
                  "run_id": {
                    "type": "string",
                    "description": "Optional run_id for context-aware parsing."
                  },
                  "max_rows": {
                    "type": "integer",
                    "description": "For tabular files (default 100).",
                    "default": 100
                  }
                },
                "required": [
                  "s3_key"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/export_report": {
      "post": {
        "operationId": "export_report",
        "summary": "Render a publication-ready report for a completed run as PDF or markdown.",
        "description": "Render a publication-ready report for a completed run as PDF or markdown. Includes the methods section, QC audit trail, structured findings, and figures. This is what users need for IND submissions, CRO compliance packages, and publication supplementary materials.",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "run_id": {
                    "type": "string",
                    "description": "Completed run ID."
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "pdf",
                      "markdown",
                      "docx"
                    ],
                    "default": "pdf"
                  },
                  "sections": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "methods",
                        "qc",
                        "findings",
                        "figures",
                        "appendix"
                      ]
                    },
                    "description": "Which sections to include (default: all)."
                  }
                },
                "required": [
                  "run_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/analyze_results": {
      "post": {
        "operationId": "analyze_results",
        "summary": "Ask BioMate's AI to interpret a completed run.",
        "description": "Ask BioMate's AI to interpret a completed run. Returns natural-language analysis: key findings, quality assessment, scientific interpretation, recommended next steps. Use after get_run when the user asks 'what does this mean?'.",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "run_id": {
                    "type": "string",
                    "description": "Completed run ID."
                  },
                  "question": {
                    "type": "string",
                    "description": "Optional focused question."
                  }
                },
                "required": [
                  "run_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/explain_error": {
      "post": {
        "operationId": "explain_error",
        "summary": "Diagnose a failed run.",
        "description": "Diagnose a failed run. Returns the likely root cause (genome mismatch, missing input, OOM, container pull failure, etc.) and the specific fix. Often the next step is run_workflow with corrected params.",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "run_id": {
                    "type": "string",
                    "description": "Failed run ID."
                  },
                  "error_log": {
                    "type": "string",
                    "description": "Optional pasted error log."
                  }
                },
                "required": [
                  "run_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/query_database": {
      "post": {
        "operationId": "query_database",
        "summary": "Query a biological/chemical database by accession or name.",
        "description": "Query a biological/chemical database by accession or name. Supported: uniprot, pdb, alphafold, ncbi_gene, dbsnp, clinvar, gnomad, kegg, reactome, chebi, chembl, hpo, string, pubmed.",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "database": {
                    "type": "string",
                    "enum": [
                      "uniprot",
                      "pdb",
                      "alphafold",
                      "ncbi_gene",
                      "dbsnp",
                      "clinvar",
                      "gnomad",
                      "kegg",
                      "reactome",
                      "chebi",
                      "chembl",
                      "hpo",
                      "string",
                      "pubmed"
                    ]
                  },
                  "query": {
                    "type": "string",
                    "description": "Accession, gene symbol, or compound name."
                  }
                },
                "required": [
                  "database",
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/recall_memory": {
      "post": {
        "operationId": "recall_memory",
        "summary": "Retrieve relevant prior context for the current goal: past runs on similar inputs, validated procedures, findings tagged by the user, learned parameter preferences.",
        "description": "Retrieve relevant prior context for the current goal: past runs on similar inputs, validated procedures, findings tagged by the user, learned parameter preferences. Call before biomate_session for repeat users \u2014 it dramatically improves param auto-fill and avoids re-running work.",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "What to recall \u2014 usually the user's goal."
                  },
                  "scope": {
                    "type": "string",
                    "enum": [
                      "runs",
                      "findings",
                      "procedures",
                      "all"
                    ],
                    "default": "all"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 5
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    },
    "/tools/upload_file": {
      "post": {
        "operationId": "upload_file",
        "summary": "Get a one-shot signed S3 PUT URL so the host can upload a local file directly to BioMate's data plane without proxying bytes through the chat transport.",
        "description": "Get a one-shot signed S3 PUT URL so the host can upload a local file directly to BioMate's data plane without proxying bytes through the chat transport. Returns the s3_key to use in subsequent tool calls. For files >5MB this is mandatory; for small text payloads, inline strings are fine.",
        "x-streaming": false,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filename": {
                    "type": "string",
                    "description": "Original filename (sets content-type and extension)."
                  },
                  "size_bytes": {
                    "type": "integer",
                    "description": "File size for quota check."
                  },
                  "content_type": {
                    "type": "string",
                    "description": "MIME type (auto-detected from filename if omitted)."
                  }
                },
                "required": [
                  "filename"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 reauthorize via /oauth/authorize"
          },
          "402": {
            "description": "Quota or billing gate triggered \u2014 see billing.biomate.ai"
          },
          "429": {
            "description": "Rate limited \u2014 retry after the Retry-After header"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "BiomateOAuth": [
              "runs:read",
              "runs:write",
              "workflows:search"
            ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ToolResult": {
        "type": "object",
        "description": "Common envelope returned by every tool. `content[].text` carries the structured JSON result (typed per tool). For streaming tools, the host should also subscribe to /events/{run_id} for live progress.",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "text",
                    "image"
                  ]
                },
                "text": {
                  "type": "string"
                }
              },
              "required": [
                "type"
              ]
            }
          },
          "isError": {
            "type": "boolean"
          },
          "run_id": {
            "type": "string"
          },
          "view_url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "content",
          "isError"
        ]
      }
    },
    "securitySchemes": {
      "BiomateOAuth": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://biomate.ai/oauth/authorize",
            "tokenUrl": "https://biomate.ai/oauth/token",
            "scopes": {
              "runs:read": "Read run status and outputs",
              "runs:write": "Launch and cancel runs",
              "workflows:search": "Search the workflow catalog",
              "memory:read": "Read prior experiment context",
              "memory:write": "Record findings and procedures",
              "billing:read": "Read usage and quota"
            }
          }
        }
      }
    }
  }
}
